<div class="modal-header">
	Bérlet űrlap
</div>
<form>
<div class="modal-body">
	<label>Kinek<input type="text" disabled value="{{jogas.name}}"></label>
	<label>Alkalomak száma: <input type="number" ng-model="berlet.alkalmak" value="0"></label>
	<label>Kezdő dátum: <input type="date" ng-model="berlet.startDate"></label>
	<label>Záró dátum<input type="date" ng-model="berlet.endDate"></label>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="$close(berlet)">Ok</button>
	<button class="btn btn-warning" ng-click="$dismiss()">Ok</button>	
</div>
</form>