<div class="jumbotron">
    <h2>{{alkalom.date}} - {{alkalom.location}} / {{alkalom.tartja}}</h2>
    <div class="row">
      <div class="span6">Szűrés: <input type="text" ng-model="search"> <button ng-click="addJogas(search)" ng-show="search">Új jógázó</button>
        <ul><li ng-repeat="jogas in jogasok | filter:search"><a ng-click="addResztvevo(jogas)">{{jogas.name}}</a></li></ul>
      </div>
      <div class="span6">
        <ul>
          <li ng-repeat="resztvevo in alkalom.resztvevok">{{resztvevo.name}}<button ng-click="removeResztvevo($index)">X</button></li>
        </ul>
      </div>
    </div>

</div>

