<ui-view>
    <h2>Új alkalom indítása</h2>
    <form role="form" ng-submit="setupAlkalom(ujAlkalom)">
        <div class="form-group">
            <label for="jogatarto">Jógatartó</label>
            <select id="jogatarto" class="form-control" autofocus ng-model="ujAlkalom.tartja" ng-required="true" ng-options="j.name as j.name for j in jogatartok"></select>
            <!-- <input type="text" > -->
        </div>
        <div class="form-group">
            <label for="segito">Segítő</label>
            <input id="segito" type="text" placeholder="Segítő" class="form-control" ng-model="ujAlkalom.segit" ng-required="true">        
        </div>
        <div class="form-group">
            <label for="helyszin">Helyszín</label>
            <input id="helyszin" type="text" placeholder="Helyszín" class="form-control" ng-model="ujAlkalom.location" required="required">
        </div>
        <div class="form-group">
            <label for="datum">Dátum</label>
            <input id="datum" type="date" class="form-control" ng-model="ujAlkalom.date" required="required">
            <input id="idopont" type="time" placeholder="Időpont" class="form-control" ng-model="ujAlkalom.time" required="required">
        </div>
        <button type="submit" class="btn btn-default">Mehet</button> <a ui-sref="alkalom.list">Alkalmak</a>
    </form>
</ui-view>